@import "@/SCSS/layoutVars.scss";

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: $headerHeight 1fr $playerHeight;
}


#container {
    display: grid;
    grid-template-columns: $playListColumnWidth 1fr auto;
}