@import '@/SCSS/vars.scss';
@import '@/SCSS/mixins.scss';

.container {
    background-color: $mainColor;
    border-radius: 10px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px;

    .skeleton {
        width: 100%;
        aspect-ratio: 1/1;
        opacity: 0.05;
    }
}