@import '@/SCSS/vars.scss';
@import '@/SCSS/layoutVars.scss';
@import '@/SCSS/mixins.scss';

.container {
    background-color: $mainColor;
    border-radius: 10px;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    overflow: hidden;

    padding: 5px;

    .main {
        $size: $playListColumnWidth - 5px;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 5px;

        overflow: hidden;
    }

    .more {
        display: block;

        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;

        @include FC;
        background-color: $mainGreen;
        color: $mainColor;

        border-radius: 10px;

        transition: all .3s;

        &:hover {
            border-radius: 20px;
            cursor: pointer;
        }
    }
}

.skeleton {
    width: 100%;
    aspect-ratio: 1/1;
    opacity: 0.05;
}

@media (max-width: $mobileBreakpoint) {
    .container {
        display: none;
    }
}