@import '@/SCSS/vars.scss';
@import '@/SCSS/layoutVars.scss';
@import '@/SCSS/mixins.scss';

.btn {
    color: $grayColor;
    transition: all .3s;

    &:hover {
        color: white;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}