@import '@/SCSS/vars.scss';
@import '@/SCSS/mixins.scss';

.formSubmit {
    background-color: $mainGreen;
    color: white;
    margin-top: 10px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 17px;
    padding-block: 22px;
    position: relative;

    .btnText,
    .right {
        transition: all .35s;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .right {

        transform: translate(180%, -50%) scale(1.3);
        opacity: 0;
    }

    .btnText {
        transform: translate(-50%, -50%);
    }

    &:hover {
        background-color: $mainGreen;

        .btnText {
            transform: translate(-100%, -50%);
            opacity: 0;
        }

        .right {
            transform: translate(-50%, -50%) scale(1.3);
            opacity: 1;
        }
    }
}