.formContainer {
    background-color: #121212;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titleForm {
        margin-bottom: 40px;

        .logo {
            border-radius: 50%;
            margin: 0 auto;
        }

        .titleText {
            max-width: 325px;
            margin: 0 auto;
            font-weight: 700;
            font-size: 42px;
            text-align: center;
            color: #fff;
        }
    }

    .blockForm {
        width: 390px;
        padding-inline: 32px;

        .form {
            width: 324px;

            display: flex;
            flex-direction: column;
            gap: 12px;

            input, select {
                outline: none;
                width: 100%;
                background-color: transparent;
                padding-block: 5px 10px;
                padding-inline: 2px;
                color: #fff;

                &::placeholder {
                    font-size: 14px;
                }

                &:-webkit-autofill {
                    transition: 5000s;
                }
            }

            select {
                cursor: pointer;
                color: #757575;

                &::placeholder{
                    color: #000;
                }

                option{
                    background: #757575;
                    color: #fff;
                }
            }

            

            .fieldsetInput {
                border-radius: 5px;
                padding: 0 10px;
                border: 1px solid #757575;

                .legendInput {
                    color: #757575;
                    font-size: 14px;
                }
            }

            .names {
                width: 100%;
                display: flex;
                gap: 12px;

                input {
                    width: 49%;
                }
            }

            .formSubmit {
                background-color: #1ed760;
                color: #000;
                margin-top: 20px;
                border-radius: 30px;
                font-weight: 700;
                font-size: 15px;
                padding-block: 22px;
            }
        }
    }

    .haveAccount {
        color: #fff;
        text-align: center;
        margin-top: 25px;
        font-size: 14px;

        .linkToRegister {
            font-size: 14px;

            background: none;
            text-decoration: underline;
        }
    }
}

.errMessage {
    font-size: 12px;
    color: red;
    margin-top: -7px;
    margin-left: 5px;
}
