@import '@/SCSS/vars.scss';
@import '@/SCSS/mixins.scss';

$iconSize: 18px;

@mixin iconSize() {
    width: $iconSize;
    height: $iconSize;
}

.container {
    width: 250px;
    display: flex;

    justify-content: flex-end;
    align-items: center;
    gap: 5px;

    padding-right: 5px;

    .toggleMenu {
        color: $grayColor;

        @include iconSize();

        transition: all .2s;
    }

    .active {
        color: white;
    }
}

@media (max-width: 1100px) {
    .container {
        width: 200px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 150px;
    }
}

@media (max-width: 600px) {
    .container {
        order: 3;
        width: auto;
    }
}