@import '@/SCSS/vars.scss';
@import '@/SCSS/mixins.scss';

$iconSize: 18px;

// Импортируется в другие компоненты!!
@mixin iconSize() {
    width: $iconSize;
    height: $iconSize;

    color: $grayColor;
    transition: all .2s;

    &:hover {
        color: white;
    }
}

.container {
    width: 250px;
    display: flex;

    justify-content: flex-end;
    align-items: center;
    gap: 5px;

    padding-right: 5px;

    .icon {
        @include iconSize();
    }
}

@media (max-width: 1100px) {
    .container {
        width: 200px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 150px;
    }
}

@media (max-width: 600px) {
    .container {
        order: 3;
        width: auto;
    }
}