@import '@/SCSS/vars.scss';
@import '@/SCSS/mixins.scss';
@import '../musicControlls/musicControlls.module.scss';

.volume {
    @include FC;
    gap: 5px;
    flex: 1 1 auto;
    max-width: 150px;

    .volumeIco {
        color: $grayColor;

        @include iconSize();
    }
}