@import '@/SCSS/vars.scss';
@import '@/SCSS/layoutVars.scss';
@import '@/SCSS/mixins.scss';

.playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 100%;

    padding: 8px 0;
    margin: 0 auto
}

.topSide {
    @include FC;
    gap: 5px;

    width: 100%;

    .controllButton, .mainControllButton {
        height: 75%;
        aspect-ratio: 1 / 1;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .mainControllButton {
        height: 100%;
        color: white;
    }

    .playPauseIco {
        color: white;
    }
}

.bottomSide {
    display: flex;
    gap: 5px;
    width: 100%;

    .time {
        color: $grayColor;
        width: 50px;
    }

    .timeRight {
        text-align: end;
    }
}

@media (max-width: 1024px) {
    .playerContainer {
        width: 100%;
    }
}

@media (max-width: $mobileBreakpoint) {
    .playerContainer {
        flex-direction: row;
        gap: 15px;
        padding-left: 5px;

        .topSide {
            width: auto;
            height: 35%;
        }

        .bottomSide .time {
            order: 1;
            text-align: end;
        }
    }

    .controllButton, .back {
        display: none;
    }
}