.playlist{
    padding: 15px;

    .titlePlaylist{
        padding-left: 12px;
        font-size: 28px;
        color: #fff;
        font-weight: 600;
    }
}

.fullPlaylist {
    color: #fff;
    display: flex;

    .cardPlays {
        width: 250px;

        .cardPlayList {
            padding: 12px;
            cursor: pointer;
            border-radius: 10px;
            transition: .3s;

            &:hover{
                background-color: #121212;
            }

            img{
                height: 225px;
                object-fit: cover;

                border-radius: 10px;
            }

            .playListName{
                margin-top: 10px;
                font-size: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
