@import '@/SCSS/vars.scss';
@import '@/SCSS/layoutVars.scss';
@import '@/SCSS/mixins.scss';

$lgWidtth: 400px;
$mdWidth: 300px;
$smWidth: 260px;

.wrapper {
    width: $lgWidtth;
    height: 100%;

    position: relative;
    transition: all .4s;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;


    height: 100%;
    width: $lgWidtth;
    background-color: $mainColor;
    border-radius: 10px;

    overflow: hidden;

    .content {
        padding: 5px 15px;
    }

    .img {
        width: 80% !important;
        height: auto !important;
        aspect-ratio: 1 / 1;

        margin: 10px auto;
        border-radius: 10px;
    }

    .name, .author {
        display: block;
        margin: 5px 0;
    }

    .name {
        font-size: 22px;
        line-height: 90%;
        color: white;
    }

    .author {
        color: $grayColor;
    }
}

.wrapperOpened {
    width: 400px;
}

.wrapperClosed {
    width: 0;
}

.closed {
    left: 10px;
}

@media (max-width: 1440px) {
    .container, .wrapperOpened {
        width: $mdWidth;
    }
}

@media (max-width: 900px) {
    .container, .wrapperOpened {
        width: $smWidth;
    }
}

@media (max-width: 600px) {
    .container {
        display: none;
    }
}

