@import '@/SCSS/vars.scss';
@import "@/SCSS/layoutVars.scss";

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: $headerHeight 1fr $playerHeight;
}

#container {
    display: grid;
    grid-template-columns: $playListColumnWidth 1fr auto;
    gap: $gap;
    background-color: $bgColor;
    padding-top: 0;
    padding-bottom: 0;

    overflow: hidden;
}

.main {
    background-color: $mainColor;
    border-radius: 10px;
    overflow: auto;
}

@media (min-width: 1440px) {
    .wrapper {
        grid-template-rows: ($headerHeight + 10px) 1fr ($playerHeight + 10px);
    }
}

@media (max-width: 600px) {
    #container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}