@import '@/SCSS/vars.scss';
@import '@/SCSS/layoutVars.scss';
@import '@/SCSS/mixins.scss';

.container {
    height: $headerIconsSize;
}

.avatarContainer {
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;

    box-sizing: border-box;
    padding: 5px;
    background-color: $grayColor;
    border-radius: 50px;

    .avatar {
        width: 100% !important;
        height: 100% !important;
    }
}