.layout__player-container {
    --main-color: #fff;
    --main-green: rgb(29 211 94);
    --buttons-size: 25px;
    --opacity-color: rgb(72 72 72);

    width: 70%;
    height: 100%;

    justify-self: center;
    background-color: transparent;
    overflow: hidden;

    .rhap_volume-button, .rhap_main-controls-button, .rhap_repeat-button {
        width: var(--buttons-size);
        height: var(--buttons-size);
        aspect-ratio: 1 / 1;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .rhap_main-controls-button {
        svg {
            color: var(--main-color);
        }
    }

    .rhap_volume-controls, .rhap_repeat-button {
        width: calc(var(--buttons-size) * 0.75);
        height: calc(var(--buttons-size) * 0.75);

        svg {
            color: var(--opacity-color);
        }
    }

    .rhap_additional-controls {
        height: calc(var(--buttons-size) * 0.75);
        justify-content: flex-end;
    }

    .rhap_volume-controls {
        justify-self: flex-end;
    }

    .rhap_stacked-reverse .rhap_controls-section {
        gap: 10px;
        margin-bottom: 0;
    }

    .rhap_progress-container {
        height: 10px;
    }

    .rhap_progress-bar {
        height: 2px;
    }

    .rhap_progress-indicator {
        width: 10px;
        height: 10px;
        transform: translate(50%, 40%);
        background-color: var(--main-color);
    }

    .rhap_progress-filled {
        background-color: var(--main-green);
    }

    .rhap_time {
        width: 50px;
    }

    .rhap_volume-controls {
        justify-content: flex-start;
    }

    .rhap_volume-bar {
        background-color: var(--opacity-color);
        height: 2px;
    }

    .rhap_volume-indicator {
        opacity: 0;
    }
}