@import '@/SCSS/vars.scss';
@import '@/SCSS/mixins.scss';
@import '../../musicControlls.module.scss';

.volume {
    @include FC;
    gap: 5px;
    flex: 1 1 auto;

}

.volumeIco {
    color: $grayColor;

    width: $iconSize;
    height: $iconSize;
}

.white {
    color: white;
}