@import '@/SCSS/vars.scss';
@import '@/SCSS/layoutVars.scss';
@import '@/SCSS/mixins.scss';

.header {
    width: 100%;
    height: 100%;

    background-color: $bgColor;

    .logoLink {
        width: auto;
        height: $headerIconsSize;
    }

    .logo {
        width: 100% !important;
        height: 100% !important;

        border-radius: 50%;
    }
}

#headerContent {
    display: grid;
    grid-template-columns: $playListColumnWidth 1fr auto;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}