@import '@/SCSS/vars.scss';
@import '@/SCSS/mixins.scss';

.formContainer {
    width: 100%;
    height: 100%;

    background-color: $mainColor;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .titleForm {
        margin-bottom: 10px;

        .logo {
            border-radius: 50%;
            margin: 0 auto;
            width: clamp(70px, 6.5vw, 100px) !important;
            height: auto !important;
            aspect-ratio: 1 / 1;
        }

        .titleText {
            max-width: 325px;
            margin: 0 auto;

            font-weight: 700;
            font-size: clamp(25px, 2.2vw, 42px);
            text-align: center;
            color: #fff;
        }
    }

    .blockForm {
        width: min(390px, 100%);
        padding-inline: 32px;

        .form {
            display: flex;
            flex-direction: column;
            gap: 12px;

            input,
            select {
                outline: none;
                width: 100%;
                background-color: transparent;
                padding-block: 5px 10px;
                padding-inline: 2px;
                color: #fff;

                &::placeholder {
                    font-size: 14px;
                }

                &:-webkit-autofill {
                    transition: 5000s;
                }
            }

            .fieldsetInput {
                border-radius: 5px;
                padding: 0 10px;
                border: 1px solid #757575;
                position: relative;
                height: 62px;
                width: 100%;

                .legendInput {
                    color: #757575;
                    font-size: 14px;
                }
            }

            .names {
                width: 100%;
                display: flex;
                gap: 12px;

                input {
                    width: 49%;
                }
            }
        }
    }

    .haveAccount {
        color: #fff;
        text-align: center;
        margin-top: 10px;
        font-size: 14px;

        .linkToRegister {
            font-size: 14px;

            background: none;
            text-decoration: underline;
        }
    }
}

.errMessage {
    font-size: 12px;
    color: red;
    margin-top: -7px;
    margin-left: 5px;
}