@import '@/SCSS/vars.scss';
@import '@/SCSS/layoutVars.scss';

.container {
    width: 200px;
    overflow: hidden;

    color: white;
    white-space: nowrap;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 0 15px;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 500;
    }

    .name {
        align-self: flex-end;
    }

    .author {
        align-self: flex-start;
        color: $grayColor;
    }

}

@media (max-width: 1100px) {
    .container {
        width: 150px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 100px;

        .name, .author {
            display: none;
        }
    }
}

@media (max-width: $mobileBreakpoint) {
    .container {
        display: none;
    }
}