@import '@/SCSS/vars.scss';

.container {
    width: 180px;
    overflow: hidden;

    color: white;
    white-space: nowrap;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 0 15px;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight:500;
    }

    .name {
        align-self: flex-end;
    }

    .author {
        align-self: flex-start;
        color: $grayColor;
    }

    .plus {
        justify-self: center;
        align-self: center;
        grid-row: 1 / -1;
        width: 70%;
        color: $grayColor;

        .plusIco {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;

            transition: all .2s;

            &:hover {
                color: white;
            }
        }

        .checkIco {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
            color: $mainGreen;
        }

    }
}