@import '@/SCSS/vars.scss';

.container {
    width: 200px;
    overflow: hidden;

    color: white;
    white-space: nowrap;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 0 15px;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 500;
    }

    .name {
        align-self: flex-end;
    }

    .author {
        align-self: flex-start;
        color: $grayColor;
    }


    .plus {
        justify-self: center;
        align-self: center;
        grid-row: 1 / -1;
        width: 70%;
        color: $grayColor;

        .plusIco {
            width: 18px;
            height: auto;
            aspect-ratio: 1 / 1;

            transition: all .2s;

            &:hover {
                color: white;
            }
        }

        .checkIco {
            height: auto;
            aspect-ratio: 1 / 1;
            color: $mainGreen;
        }

    }
}

@media (max-width: 1100px) {
    .container {
        width: 150px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 100px;

        .name, .author {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .container {
        width: auto;
        padding-right: 5px;
        grid-template-columns: 1fr;

        order: 2;
    }
}